@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lelouch-header {
    height: 100vh;
    position: relative;
}
.lelouch-header-image {
    width: 95%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
.lelouch-header-nav {
    margin: auto;
    width: 70%;
    padding: 25px 0;
}
.lelouch-header-nav-bar {
    display: none;
    font-size: 24px;
    color: #fff;
}
.lelouch-header-nav-ul-li {
    display: inline-block;
    padding: 10px 25px;
}
.lelouch-header-nav-ul-li-img {
    position: absolute;
    z-index: -1;
    width: 130px;
    left: 14.5%;
    top: 1%;
}
.lelouch-header-nav-ul-li-a {
    text-decoration: none;
    color: #928A97;
    font-size: 20px;
    font-weight: bold;
    transition: .3s ease;
}
.lelouch-header-nav-ul-li-a.active {
    color: #F44336 !important;
}
.lelouch-header-nav-ul-li-a:hover {
    color: #fff;
}
.lelouch-header-main {
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}
.lelouch-header-main-info-h1, .lelouch-header-main-info-p {
    color: #fff;
    font-family: "Akaya Telivigala", sans-serif;
}
.lelouch-header-main-info-h1 {
    font-size: 2.75rem !important;
}
.lelouch-header-main-info-p {
    font-size: 1.50rem !important;
    padding: 20px 0;
}
.lelouch-header-main-info-social-ul-li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.lelouch-header-main-info-social-ul-li-a {
    color: #000C24;
    font-size: 22px;
    display: block;
    width: 38px;
    text-align: center;
    line-height: 37px;
    margin-top: 1px;
    margin-right: 4px;
    border-radius: 50%;
    background: #928A97;
    transition: .3s;
}
.lelouch-facebook:hover {
    background-image: linear-gradient(135deg,#3b5998 30%,#0a3d62 50%);
    color: #fff;
}
.lelouch-twitter:hover {
    background-image: linear-gradient(135deg,#1da1f2 30%,#0a3d62 50%);
    color: #fff;
}
.lelouch-youtube:hover {
    background-image: linear-gradient(135deg,#d71e18 30%,#961510 50%);
    color: #fff;
}
.lelouch-linkedin:hover {
    background-image: linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
    color: #fff;
}
.lelouch-github:hover {
    background-image: linear-gradient(135deg,#c32aa3 30%,#992180 50%);
    color: #fff;
}
.lelouch-header-scroll, .lelouch-about-scroll {
    position: absolute;
    left: 15%;
    bottom: 5%;
    z-index: 1;
}
.lelouch-header-scroll-down-a, .lelouch-about-scroll-down-a {
    color: #928A97;
    text-decoration: none;
    font-size: 18px;
}
.lelouch-header-scroll-down-span, .lelouch-about-scroll-down-span {
    margin-left: 5px;
}




.lelouch-about {
    height: 100vh;
    width: 90%;
    position: relative;
}
.lelouch-about-img {
    position: absolute;
    width: 65%;
    height: 100%;
    left: 0;
    top: -10%;
    z-index: -3;
}
.lelouch-about-main {
    margin: auto;
    width: 75%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lelouch-about-main-info-img {
    width: 35%;
    margin-top: 7%;
}
.lelouch-about-main-info {
    margin-left: 3%;
    font-size: calc(1.2rem + 0.5vw);
}
.lelouch-about-main-info-h2 {
    color: #F85F73;
    padding: 20px 0;
}
.lelouch-about-main-info-a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    width: 185px;
    background-color: #000C24;
    padding: 10px;
    border-radius: 10px;
    margin: 5% 0;
}
.lelouch-about-scroll {
    position: absolute;
    left: 15%;
    bottom: 5%;
    z-index: 1;
}


@media screen and (max-width: 900px) {
    .lelouch-header-nav-ul {
        display: none;
    }
    .lelouch-header-nav-bar {
        display: block;
    }
    .lelouch-about-main {
        display: block;
        text-align: center;
    }
    .lelouch-about-main-info-img {
        width: 45%;
    }
    .lelouch-about-main-info {
        margin-left: unset;
        font-size: calc(1.325rem + -0.1vw);
    }
    .lelouch-about-main-info-a {
        margin: 5% auto;
    }

}
@media screen and (max-width: 780px) {
    /*.lelouch-header-main {
        padding: 30px 0;
    }*/
}
